@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black dark:text-white bg-slate-200 dark:bg-neutral-800;
  }

  body {
    @apply text-black dark:text-white bg-slate-200 dark:bg-neutral-800;
  }

  body {
    box-sizing: border-box;
    scroll-padding-top: 0;
    scroll-padding-bottom: 0;
    scroll-margin-top: 0;
    scroll-margin-bottom: 0;
  }

  body {
    max-width: 100dvw;
    min-height: 100dvh;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}
